:root {
    --ipc-green: #008542;
    --ipc-blue: #00569f;
    --ipc-red: #d11c3f;

    --ghostwhite: #f8f8ff;
    --white: #fff;
    --grey: #C6C6C6;
    --black: #000;

    --font-stack: Calibri, Arial, Helvetica, sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background: var(--ghostwhite) url("../img/layout/background.svg") repeat;
    font-family: var(--font-stack);
}

h1 {
    font-family: var(--font-stack);
    font-size: 1.5em;
    font-weight: 700;
}

p,
span {
    font-family: var(--font-stack);
    font-size: 0.75em;
    font-weight: 400;
}

/* Header */
.header {
    color: var(--ipc-blue);
    text-align: center;
    padding-top: 1.5em;
}

.header__logo img {
    max-height: 60px;
}

.header__name {
    font-size: 2.75em;
}

.header__tagline {
    font-size: 1.75em;
}

@media screen and (max-width:1024px) {

    .header__name {
        font-size: 2.5rem
    }

    .header__tagline {
        font-size: 1.75rem
    }
}

@media screen and (max-width:768px) {

    .header__name {
        font-size: 2.25rem
    }

    .header__tagline {
        font-size: 1.5rem
    }
}

@media screen and (max-width:550px) {

    .header__name {
        font-size: 2rem
    }

    .header__tagline {
        font-size: 1.25rem
    }
}

@media screen and (max-width:360px) {

    .header__name {
        font-size: 1.75rem
    }

    .header__tagline {
        font-size: 1.25rem
    }
}

@media screen and (max-width:330px) {

    .header__name {
        font-size: 1.5rem
    }

    .header__tagline {
        font-size: 1rem
    }
}

/* Navigation */
#nav a {
    display: block;
    color: var(--white);
    padding: 0.25em 0;
    margin-bottom: 1.25em;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: 700;
}

@media screen and (max-width:1024px) {

    #nav a {
        font-size: 2.5rem
    }
}

@media screen and (max-width:768px) {

    #nav a {
        font-size: 2.75rem
    }
}

@media screen and (max-width:550px) {

    #nav a {
        font-size: 2.25rem
    }
}

@media screen and (max-width:360px) {

    #nav a {
        font-size: 1.75rem
    }
}

@media screen and (max-width:330px) {

    #nav a {
        font-size: 1.5rem
    }
}

#nav a:hover {
    background-color: var(--ghostwhite);
    color: var(--ipc-blue);
}

#nav span {
    font-weight: 300;
    color: var(--ghostwhite);
}

#nav {
    width: 14rem;
    position: fixed;
    background-color: var(--ipc-green);
    top: 0;
    bottom: 0;
    left: -14rem;
    color: var(--ghostwhite);
    opacity: 0.95;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    z-index: 1;
    padding: 6.25em 0;
    text-align: center;
}


/* Toggle class to open menu */
#nav.menu-open {
    -webkit-transform: translateX(14rem);
    -moz-transform: translateX(14rem);
    -ms-transform: translateX(14rem);
    transform: translateX(14rem);
    width: 100%;
}

@media (min-width: 940px) {
    #nav.menu-open {
        width: 20%;
    }
}

/* Icon menu */
#nav-menu {
    display: block;
    position: absolute;
    top: 35px;
    left: 25px;
    z-index: 10;
    height: 1.5em;
}

#menu {
    height: 4px;
    width: 1.5em;
    background-color: var(--ipc-green);
}

#menu:after,
#menu:before {
    content: "";
    display: block;
    position: relative;
    height: 4px;
    width: 1.5em;
    background-color: var(--ipc-green);
    transition: all 0.3s ease-in;
}

#menu:before {
    top: -8px;
}

#menu:after {
    top: 4px;
}

#menu.btn-close {
    background: none;
}

#menu.btn-close:before {
    top: 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: var(--ghostwhite);
}

#menu.btn-close:after {
    top: -4px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: var(--ghostwhite);
}

/* social */
#nav .social {
    display: inline-block;
    width: 30px;
    height: 30px;
}

@media (min-width: 940px) {
    #nav .social {
        width: 40px;
        height: 40px;
    }
}

#nav .social:hover {
    background-color: transparent;
    color: var(--ipc-blue);
}

/* repos */

.github-cards {
    display: grid;
    grid-template-columns: 35% 35%;
    grid-column-gap: 200px;
    justify-items: stretch;
    align-items: stretch;
    margin-left: 200px;
}

.github-card {
    background-color: var(--white);
    padding: 1.5em;
    border: 1px solid var(--ipc-green);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    color: var(--black);
    text-decoration: none;
    text-align: center;
    font-family: var(--font-stack);
}

.github-card:hover {
    background-color: var(--ipc-green);
    color: var(--ghostwhite);
}

.github-card>h3 {
    margin-top: 0;
    color: var(--ipc-blue);
    font-size: 1.25em;
}

.github-card>p {
    font-size: 1em;
}

.github-card__screenshot {
    max-width: 100%;
    height: auto;
    /* border-radius */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    /* box-shadow */
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
}

.github-card__meta {
    margin-right: 20px;
}

.github-card__meta>i,
span {
    font-size: 1.15em;
}

/* footer */

/* clear fix hack */
.footer:before,
.footer:after {
    content: "";
    display: table;
}

.footer:after {
    clear: both;
}

.footer {
    clear: both;
    background-color: var(--ipc-blue);
    padding: 0.625em 1.25em;
    font-size: 0.75em;
    text-align: center;
    color: var(--white);
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 999992;
}

.footer a {
    color: var(--white);
}

.footer a:hover {
    color: var(--ipc-red);
}

@media only screen and (max-width:768px) {
    .footer {
        padding-top: 1.5em;
    }
}

@media screen and (max-width:550px) {
    .footer {
        position: static;
        padding-bottom: 1.875em;
    }

}